@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  align-items: center;
}
.logo{
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;  
}
.App-logo {
  height: 5px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.halo{
  color: #61dafb;
  font-size: 15px;
  font-weight: bold;
  animation: animate 3s linear infinite;
}
.buton{
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  transition: 0.3s;
}
.buton:hover{
  background-color: rgb(127, 229, 137);
  color: #ffffff;
}
.input{
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 384px;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  box-shadow: inset 0 0 10px #000000;
}
.text{
  color: #61dafb;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
